body{
    border: 15px blue solid;
    margin: 5px;
    padding: 15px;
    }

section h1{color: brown;
    text-align: center;
    }


section h1:hover{color: rgb(235, 16, 16);
            }

 section section p{
     color: red;
     background-color: yellow;
     margin-bottom: -10px;
 } 
 
 section section p:hover{
    color: rgb(46, 10, 129);
    background-color: rgb(209, 30, 30);
}

 section article {
     background-color: burlywood;
     color: orangered;
     margin-top: -20px;
 }

 section article:hover {
    background-color: rgb(250, 199, 29);
    color: rgba(0, 4, 32, 0.308);
}

 section footer:hover {
     color: cyan;
 }

 section footer h4:hover {
    color: #345;
}

section footer p {
    padding: 0px;
}

img{
    width: 20%;
}

img:hover{
    border: 10px red dotted;
}

p, h2, span{padding: 20px;}